$hover-color: #e5f3ff;
$hover-outline-color: #000;
$select-color: #cce8ff;
$select-outline-color: #000;

html,
body,
body>div {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

.v-container {
  display: flex;
  flex-direction: column;
}

.h-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#back, #forward {
  width: 20px;
  height: 25px;
  border: none;
  padding: 2px;
  padding-top: 0;
  background-color: transparent;

  &:hover {
    background-color: $hover-color;
    outline: 1px solid $hover-outline-color;
  }
}

#addressbar {
  height: 20px;
  margin: 4px;
  padding: 1px 2px;
  font-size: 10pt;
  flex-grow: 1;
  border: 1px solid #ccc;
  user-select: none;

  div {
    padding: 0 1.5px;
    line-height: 18px;
  }

  div:not(.sep):hover {
    background-color: $hover-color;
    outline: 1px solid $hover-outline-color;
  }

  .root-slash {
    padding: 0 3px;
  }

  .sep {
    position: relative;
    top: 1px;
  }
}

#fl-background {
  flex-grow: 1;
  padding: 1px 4px;
  user-select: none;
  overflow: auto;
}

#fl-outer {
  display: none;
}

#filelist {
  display: table;
  font-size: 10pt;
}

#fl-header {
  display: table-header-group;
  margin-bottom: 2px;
}

#fl-contents {
  display: table-row-group;

  .name-outer {
    &:hover {
      background-color: $hover-color;
    }

    &.selected, &.drop-target {
      background-color: $select-color;
      outline: 1px solid 
    }
  }
}

#fl-header, #fl-contents {
  > div {
    display: table-row;
    height: 22px;
    line-height: 20px;

    > div {
      display: table-cell;
      vertical-align: middle;
      padding: 0 4px;
      border-right: 1px solid #eee;
      white-space: pre;

      &:last-child {
        border-right: none;
      }
    }

    .name-outer {
      min-width: 250px;
    }
    .created, .modified {
      min-width: 125px;
    }

    .icon {
      height: 18px;
      margin-right: 4px;
    }
  }
}
